html {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Navbar */

.navbar {
	position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
	background-color: white;
}

/* Navbar wrapper logo-company-news-categories*/

.wrapper-nav-logo-company-news-categories {
	display: flex;
	height: 48px;
}

.wrapper-nav-company-news-categories {
	flex: 1;
}

@media screen and (min-width: 768px) {
	.wrapper-nav-logo-company-news-categories {
		height: 80px;
	}
}

/* Nav logo */

.nav-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 106px;
	height: 100%;
	background: linear-gradient(to bottom right,#c09,#f42 85%);
}

.nav-logo-img {
	width: 66px;
	height: 16px;
}

@media screen and (min-width: 1024px) {
	.nav-logo {
		display: none;
	}
}

/* Navbar Company */

.nav-company {
	display: none;
	justify-content: space-between;
	height: 32px;
	background: #131313;
	color: white;
}

@media screen and (min-width: 768px) {
	.nav-company {
		display: flex;
	}
}

/* Navbar Company links */

.nav-company-links {
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.nav-company-link {
	margin-left: 12px;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.nav-company-link:first-child {
	margin-left: 0;
	color: white;
}

/* Navbar Company info links */

.nav-company-info-links {
	display: flex;
	align-items: center;
	margin-right: 8px;
}

.nav-company-info-link {
	margin-right: 12px;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

/* Navbar news categories icons */

.nav-news-categories-icons {
	display: flex;
	justify-content: flex-end;
	height: 48px;
}

@media screen and (min-width: 768px) {
	.nav-news-categories-icons {
		justify-content: space-between;
	}
}

/* Navbar news categories */

.nav-news-categories {
	display: none;
	align-items: center;
	font-size: 13px;
	line-height: 21px;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {
	.nav-news-categories {
		display: flex;
	}
}

.nav-news-category {
	padding-left: 20px;
	text-decoration: none;
	color:rgb(170, 170, 170);
}

.nav-news-category:last-child {
	display: none;
}

@media screen and (min-width: 1214px) {
	.nav-news-category:last-child {
		display: block;
	}
}

/* Navbar news icons */

.nav-news-icons {
	display: flex;
}

.nav-news-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	color:rgb(170, 170, 170);
	text-decoration: none;
	border-left: 1px solid #eee;
}

.nav-news-icon-search {
	width: 16px;
	height: 16px;
	transform: scaleX(-1);
}

/* Mobile menu */

@media screen and (min-width: 768px) {
	.mobile-menu {
		display: none;
	}
}

.mobile-menu-hamburger-line {
	width: 20px;
	height: 2px;
	background-color: #f42;
	margin-bottom: 4px;
}

.mobile-menu-hamburger-line:last-child {
	margin-bottom: 0;
}

/* Navbar announcement */

.nav-announcement {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	font-size: 13px;
	color: black;
	text-decoration: none;
	background-color: #fd3;
	box-shadow: 0 16px 48px rgba(0,0,0,.15);
}

@media screen and (min-width: 768px) {
	.nav-announcement {
		justify-content: flex-start;
		height: 30px;
		padding-left: 126px;
	}
}

@media screen and (min-width: 1024px) {
	.nav-announcement {
		padding-left: 20px;
	}
}

/* Main */

.main {
	margin-top: 110px;
}

/* Cover */

.cover {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 250.8px repeat(2, 278.8px);
	padding: 0 8px 8px 8px;
	grid-gap: 8px;
}

@media screen and (min-width: 768px) {
	.cover {
		grid-template-columns: 2fr 1fr;
		grid-template-rows: repeat(2, 227px);
		padding-top: 2px;
	}

	.cover-item-1 {
		grid-row: 1 / -1;
	}
}

@media screen and (min-width: 957px) {
	.cover {
		grid-template-rows: repeat(2, 274.8px);
	}
}

@media screen and (min-width: 1024px) {
	.cover {
		grid-template-rows: repeat(2, 268px);
	}
}

/* Cover item */

.cover-item {
	display: flex;
	align-items: flex-end;
	background-position: center;
	background-size: cover;
}

.cover-item-1 {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0, 0, 0, 0.75)), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-2-4-796x417.png");
}

.cover-item-1-tnw-gradient {
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: transparent url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png") no-repeat;
	background-position: 0 0;
	background-size: cover;
	mix-blend-mode: lighten;
	pointer-events: none;
}

@media screen and (min-width: 1024px) {
	.cover-item-1-tnw-gradient {
		display: block;
	}
}

.cover-item-1-tnw-logo {
	margin-top: 20px;
	margin-left: 10px;
}

.cover-item-1-tnw-logo-img {
	display: none;
	height: 80px;
	width: 360px;
}

@media screen and (min-width: 1024px) {
	.cover-item-1-tnw-logo-img {
		display: block;
	}
}

.cover-item-1-tnw-date {
	position: absolute;
	top: 16px;
	right: 24px;
	z-index: 5;
	display: none;
	font-size: 14px;
	color: white;
}

@media screen and (min-width: 1024px) {
	.cover-item-1-tnw-date {
		display: block;
	}
}

.cover-item-2 {
	background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0, 0, 0, 0.75)), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Sprint_image.jpg");
}

.cover-item-3 {
	background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0, 0, 0, 0.75)), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/Xbox-Series-X-796x417.jpg");
}

.cover-item-header {
	padding-left: 10px;
	padding-right: 20px;
}

@media screen and (min-width: 1024px) {
	.cover-item-header {
		padding-left: 20px;
	}
}

.cover-item-header-2 {
	margin-bottom: 20px;
}

.cover-section-link {
	font-size: 14px;
	color: white;
	font-weight: 500;
	letter-spacing: 0.56px;
	line-height: 21px;
	text-transform: uppercase;
	text-decoration: none;
}

.cover-title-link {
	font-size: 20px;
	color: white;
	font-weight: 700;
	letter-spacing: -0.3px;
	line-height: 22px;
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.cover-title-link-1 {
		font-size: 40px;
		line-height: 40px;
		letter-spacing: -0.6px;
	}
}

@media screen and (min-width: 1024px) {
	.cover-title-link-1 {
		font-size: 56px;
		line-height: 56px;
		letter-spacing: -0.84px;
	}

	.cover-title-link-2,
	.cover-title-link-3 {
		font-size: 28px;
		line-height: 30.8px;
		letter-spacing: -0.42px;
	}
}

.cover-info {
	display: flex;
	align-items: center;
	margin: 5px 0 10px 0;
	color: hsla(0,0%,100%,.6);
	line-height: 16px;
	font-size: 12px;
}

.cover-info > * {
	margin-right: 6px;
}

.info-author {
	color: hsla(0,0%,100%,.6);
	text-decoration: none;
}

/* Wrapper latest-news latest-funding news-categories latest-deals*/

.wrapper {
	margin: 0 auto;
	max-width: 1192px;
	padding: 0 20px;
}

/* Latest-news */

.latest-news {
	margin-top: 85px;
}

.latest-news-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 12px;
}

@media screen and (min-width: 768px) {
	.latest-news-grid {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}
}

@media screen and (min-width: 1024px) {
	.latest-news-grid {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 24px;
	}
}

/* Latest-news title */

.latest-news > .section-title {
	margin-bottom: 24px;
}

.section-title-link {
	font-size: 28px;
	color: #f42;
	font-weight: 700;
	line-height: 1.1;
	text-decoration: none;
}

.section-title-link::after {
	background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23F42" stroke-width="3" stroke-miterlimit="10" d="M4.75 1.5l6.5 6.5-6.5 6.5"/></svg>');
	background-size: 16px 16px;
	content: "";
	display: inline-block;
	height: 16px;
	position: relative;
	top: 0;
	width: 16px;
}

/* .latest-news-grid-item */

.latest-news-grid-item {
	display: flex;
}

@media screen and (min-width: 768px) {
	.latest-news-grid-item {
		display: block;
	}
}

.wrapper-latest-news-grid-item-thumbnail {
	height: 75px;
	width: 75px;
}

@media screen and (min-width: 768px) {
	.wrapper-latest-news-grid-item-thumbnail {
		position: relative;
		width: 100%;
		padding-top: 50%;
	}
}

.latest-news-grid-item-thumbnail {
	width: 75px;
	height: 75px;
	background-size: cover;
	background-position: 50%;
}

@media screen and (min-width: 768px) {
	.latest-news-grid-item-thumbnail {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.latest-news-grid-item-author-time-ago {
	display: flex;
	margin-top: 4px;
	font-size: 12px;
	color: #aaa;
	line-height: 18px;
}

.latest-news-grid-item-author::after {
	content: "\B7";
	display: block;
	float: right;
	margin: 0 4px;
}

.latest-news-grid-item-title-author-time-ago {
	margin-left: 13px;
}

@media screen and (min-width: 768px) {
	.latest-news-grid-item-title-author-time-ago {
		margin-left: 0px;
		margin-top: 8px;
	}
}

.latest-news-grid-item-title {
	margin-bottom: 1px;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
}

@media screen and (min-width: 1024px) {
	.latest-news-grid-item-title {
		font-size: 16px;
		line-height: 20px;
	}
}

.latest-news-grid-item-title-link {
	font-size: 14px;
	color: black;
	text-decoration: none;
}

@media screen and (min-width: 1024px) {
	.latest-news-grid-item-title-link {
		font-size: 16px;
		line-height: 20px;
	}
}

.latest-news-grid-item-thumbnail-1 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/TNW-Email-405x270.jpeg");
}

.latest-news-grid-item-thumbnail-2 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/TNW-Social-481x270.jpeg");
}

.latest-news-grid-item-thumbnail-3 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/two-bikes-515x270.png");
}
.latest-news-grid-item-thumbnail-4 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Word-Pigeon-540x270.jpg");
}
.latest-news-grid-item-thumbnail-5 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-2-4-516x270.png");
}
.latest-news-grid-item-thumbnail-6 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/Xbox-Series-X-516x270.jpg");
}
.latest-news-grid-item-thumbnail-7 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Untitled-design-59-516x270.png");
}
.latest-news-grid-item-thumbnail-8 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/03/zuckerberg-analytica-513x270.jpg");
}

/* Latest-funding */

.latest-funding {
	margin-top: 85px;
}

/* Latest-funding-section-title-links */

@media screen and (min-width: 1024px) {
	.latest-funding-section-title-links {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}
}

.latest-funding-section-links {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 768px) {
	.latest-funding-section-links {
		flex-direction: row;
	}
}

.latest-funding-section-link {
	margin-top: 11px;
	font-size: 14px;
	color: #f42;
	line-height: 18px;
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.latest-funding-section-link {
		margin-right: 23px;
		font-size: 16px;
	}

	.latest-funding-section-link:last-child {
		margin-right: 0px;
	}
}

.latest-funding-section-link:not(:last-child)::after {
	display: inline-block;
	content: "|";
	margin-left: 10px;
	margin-right: 10px;
	display: none;
	pointer-events: none;
	position: absolute;
}

@media screen and (min-width: 768px) {
	.latest-funding-section-link:not(:last-child)::after {
		display: inline-block;
	}
}

/* Latest-funding-grid */

.latest-funding-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	margin-top: 25px;
}

@media screen and (min-width: 768px) {
	.latest-funding-grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media screen and (min-width: 1024px) {
	.latest-funding-grid {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

/* Latest-funding-grid-item */

.latest-funding-grid-item {
	background-color: #fffaf8;
}

.latest-funding-grid-item:last-child {
	display: none;
}

@media screen and (min-width: 1024px) {
	.latest-funding-grid-item:last-child {
		display: block;
	}
}

.latest-funding-grid-item-investment-card {
	position: relative;
	background-color: #f42;
	text-decoration: none;
}

.latest-funding-grid-item-investment-card-image {
	width: 60px;
	height: 60px;
	margin: 10.6666666667px;
	position: absolute;
	z-index: 10;
}

.latest-funding-grid-item-investment-card-name {
	background: #f42;
	color: #fff;
	font-weight: 700;
	line-height: 1.25;
	padding: 10.6666666667px 16px 10.6666666667px 84px;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.latest-funding-grid-item-investment-amount-name {
	padding: 10.6666666667px 16px 10.6666666667px 84px;
	color: #000;
	background: rgba(255,68,34,.08);
	margin: 0;
}

.latest-funding-grid-item-investment-amount {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.25;
}

.latest-funding-grid-item-investment-name {
	color: #000;
	opacity: .5;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .04em;
	line-height: 1.5;
}

.latest-funding-grid-item-investment-card-topic-investors {
	padding: 16px;
}

.latest-funding-grid-item-investment-card-topic-investors > a {
	padding-left: 26px;
	position: relative;
	font-size: 13px;
	color: #555;
	margin-right: 13px;
	margin-bottom: 6.5px;
	display: block;
	line-height: 22px;
}

.latest-funding-grid-item-investment-card-icon {
	position: absolute;
	top: 2.6px;
	left: 0;
	width: 16px;
	height: 16px;
	font-size: 16px;
	color: black;
	opacity: .9;
}

.latest-funding-grid-item-investment-story {
	border-top: 1px solid rgba(255,68,34,.25);
	padding: 10px 16px 15px 16px;
}

.latest-funding-grid-item-investment-story-title-source {
	font-size: 12px;
	color: #555;
	line-height: 18px;
}

.latest-funding-grid-item-investment-story-source {
	color: #aaa;
}

/* News-categories */

.news-categories {
	margin-top: 40px;
}

.news-categories-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 25px;
}

@media screen and (min-width: 768px) {
	.news-categories-grid {
		grid-row-gap: 50px;
	}
}

@media screen and (min-width: 768px) {
	.news-categories-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.news-categories-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* News-categories-grid-item */

.news-category-grid-item-main-suggestion {
	height: 0;
	padding-top: 75%;
	position: relative;
	width: 100%;
	margin-top: 20px;
}

.news-category-grid-item-main-suggestion-img {
	background-size: 100% 100%;
	background-color: #000;
	background-size: cover;
	background-position: 50%;
	bottom: 0;
	left: 0;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.news-category-grid-item-main-suggestion-img-1 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/Dallas-Skyline-368x276.jpg");
}

.news-category-grid-item-main-suggestion-img-2 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/Snag_47f35c43-368x276.png");
}

.news-category-grid-item-main-suggestion-img-3 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/layoffs-368x276.jpg");
}

.news-category-grid-item-main-suggestion-img-4 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Untitled-design-1-368x276.jpg");
}

.news-category-grid-item-main-suggestion-img-5 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/gary-vaynerchuk-368x276.jpg");
}

.news-category-grid-item-main-suggestion-img-6 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/BMW-m5-all-electric-car-iconic-powerful-1000bhp-sedan-tesla-plaid-368x276.jpg");
}

.news-category-grid-item-main-suggestion-img-7 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Facebook-Discover-368x276.jpg");
}

.news-category-grid-item-main-suggestion-img-8 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/03/zuckerberg-analytica-368x276.jpg");
}

.news-category-grid-item-main-suggestion-img-gradient {
	background: transparent url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png") no-repeat;
	background-size: auto;
	background-size: 100% 100%;
	bottom: 0;
	left: 0;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

.news-category-grid-item-main-suggestion-header {
	bottom: 0;
	left: 0;
	padding: 14px;
	position: absolute;
	right: 0;
	z-index: 3;
}

.news-category-grid-item-main-suggestion-popular {
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	line-height: 19.5px;
	pointer-events: none;
	text-transform: uppercase;
}

.news-category-grid-item-main-suggestion-title {
	margin-bottom: 6px;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
}

.news-category-grid-item-main-suggestion-title-link {
	color: #fff;
	text-decoration: none;
}

.news-category-grid-item-main-suggestion-author-time-ago {
	display: flex;
	color: hsla(0,0%,100%,.6);
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
}

.news-category-grid-item-main-suggestion-author {
	color: hsla(0,0%,100%,.6);
	text-decoration: none;
}

.news-category-grid-item-main-suggestion-author::after {
	content: "\B7";
	display: block;
	float: right;
	margin: 0 4px;
}

.news-category-grid-item-latest-article {
	display: flex;
	flex-direction: row;
	background-color: rgba(255,68,34,.06);
	margin: 2px 0;
}

.news-category-grid-item-latest-article-subcategory-title {
	flex: 1;
	overflow: hidden;
	padding: 10px 14px 0;
}

.news-category-grid-item-latest-article-subcategory {
	color: #f42;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.52px;
	line-height: 19.5px;
}

.news-category-grid-item-latest-article-title {
	max-height: 56px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	font-size: 14px;
	color: #f42;
	font-weight: 700;
	line-height: 17.5px;
}

.news-category-grid-item-latest-article-title-link {
	color: #f42;
	text-decoration: none;
}

.news-category-grid-item-latest-article-img {
	opacity: 1;
	flex: 0 0 96px;
	background-color: #000;
	background-position: 50%;
	background-size: cover;
	height: 96px;
	width: 96px;
}

.news-category-grid-item-latest-article-img-1 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Untitled-design-59.png");
}

.news-category-grid-item-latest-article-img-2 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/download.jpg");
}

.news-category-grid-item-latest-article-img-3 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-5.png");
}

.news-category-grid-item-latest-article-img-4 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/windows-xp-css-library.png");
}

.news-category-grid-item-latest-article-img-5 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/image5.png");
}

.news-category-grid-item-latest-article-img-6 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/90s-business-lesson-gq.png");
}

.news-category-grid-item-latest-article-img-7 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/JioMart-WhatsApp-Ordering-hed.jpg");
}

.news-category-grid-item-latest-article-img-8 {
	background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/call-of-duty-warzone-modern-warfare-loadout-reddit.jpg");
}

.news-category-grid-item-suggested-title {
	font-size: 13px;
	font-weight: 400;
	line-height: 19.5px;
	border-bottom: 1px solid #eee;
}

.news-category-grid-item-suggested-title-link {
	color: #555;
	display: block;
	padding: 6px 0 6px 14px;
	position: relative;
	text-decoration: none;
}

.news-category-grid-item-suggested-title-link::before {
	background-color: #f42;
	border-radius: 50%;
	content: "";
	display: block;
	height: 4px;
	left: 0;
	position: absolute;
	top: 14px;
	width: 4px;
}

/* Latest-deals */

.latest-deals {
	margin-top: 80px;
}

/* Latest-deals-header */

.latest-deals-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.latest-deals-more {
	font-size: 14px;
	color: #f42;
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.latest-deals-more {
		font-size: 16px;
	}
}

/* Latest-deals-grid */

.latest-deals-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 16px;
	margin-top: 24px;
}

@media screen and (min-width: 768px) {
	.latest-deals-grid {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}
}

@media screen and (min-width: 1024px) {
	.latest-deals-grid {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 24px;
	}
}

/* Latest-deals grid-item */

.latest-deals-grid-item {
	position: relative;
	min-height: 72px;
	padding-left: 88px;
}

@media screen and (min-width: 768px) {
	.latest-deals-grid-item {
		padding-left: 0px;
	}
}

.latest-deals-grid-item-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 75px;
	margin-bottom: 8px;
	padding-top: 75px;
	background-color: #000;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (min-width: 768px) {
	.latest-deals-grid-item-img {
		position: relative;
		display: block;
		width: 100%;
		height: 0;
		padding-top: 74.5%;
		background-position: 0 100%;
		overflow: hidden;
	}
}

.latest-deals-grid-item-img-1 {
	background-image: url("https://cdnp2.stackassets.com/6179061a340aec6fb745648722689d80eb1f1165/store/f861de62ba66a53247f38806f00d41550a956e426fc22b7963aafc23c1b3/sale_28210_primary_image.jpg");
}

.latest-deals-grid-item-img-2 {
	background-image: url("https://cdnp3.stackassets.com/0b442829152188ef5c1de0aff7d72820282f26e0/store/73b9b30bec03d67a0c89bae3aaaddafc5a59895b1edd5194d61ab010f926/sale_20564_primary_image.jpg");
}

.latest-deals-grid-item-img-3 {
	background-image: url("https://cdnp0.stackassets.com/ed7a2caa93b777aff06ace16c7e965dc10775112/store/2b092be26a07792472d5d01d31b6ee81f5033351f30b96510851958b2cfd/sale_28694_primary_image.jpg");
}

.latest-deals-grid-item-img-4 {
	background-image: url("https://cdnp3.stackassets.com/df7735a02cff65584a790daa39d939521e0adde0/store/3781a6b01517a575039e97e95b26f9edbf4916db0bc1d8e2607c2c5a905a/sale_28034_primary_image.jpg");
}

.latest-deals-grid-item-img-5 {
	background-image: url("https://cdnp1.stackassets.com/fd8df4e38e61e349fdb70ec86809d3b5e0a0d1ab/store/f1a40487d27f7881e2198eb726be937170b21aed59fb8667e548d0a56ff7/sale_28414_primary_image.jpg");
}

.latest-deals-grid-item-img-6 {
	background-image: url("https://cdnp3.stackassets.com/600275c367415b9343a9b4812472fa05f7db59a8/store/dd972578f03549a52ceaac3644e38a3ee41cc83aef912816935d031e21d2/sale_14198_primary_image.jpg");
}

.latest-deals-grid-item-img-7 {
	background-image: url("https://cdnp1.stackassets.com/80c619e01841705c913719fbeb2a7d59d0b06b74/store/8b2bffd1fff65448a1d281f7ae49c6b6dfa3395ebe7d0789ec06e927b70f/sale_26679_primary_image.jpg");
}

.latest-deals-grid-item-img-8 {
	background-image: url("https://cdnp2.stackassets.com/806da15080f62a741db8a6f5d5f8e9d9aa9c9d98/store/f0758f17b7e6e84b5a6db6b2219d73ed16312fd48b11444fe648c4fdb287/sale_26717_primary_image.jpg");
}

.latest-deals-grid-item-discount {
	display: none;
}

@media screen and (min-width: 768px) {
	.latest-deals-grid-item-discount {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
		display: block;
		width: 80px;
		height: 80px;
		color: #000;
		background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/deals-ribbon.svg");
		background-repeat: no-repeat;
		background-size: contain;
		overflow: hidden;
		pointer-events: none;
	}
}

.latest-deals-grid-item-discount-percentage {
	position: relative;
	top: 25px;
	left: 8px;
	width: 100%;
	transform: rotate(45deg);
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.latest-deals-grid-item-title {
	margin-bottom: 1px;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	word-wrap: break-word;
}

@media screen and (min-width: 1024px) {
	.latest-deals-grid-item-title {
		margin-bottom: 0;
		font-size: 16px;
		line-height: 20px;
	}
}

.latest-deals-grid-item-title-link {
	color: #000;
	text-decoration: none;
}

.latest-deals-grid-item-dealprice {
	padding-top: 4px;
	font-size: 12px;
	color: #aaa;
	line-height: 18px;
}

@media screen and (min-width: 1024px) {
	.latest-deals-grid-item-dealprice {
		line-height: 20px;
	}
}

.latest-deals-grid-item-dealprice-old {
	margin-right: 4px;
	text-decoration: line-through;
}

@media screen and (min-width: 1024px) {
	.latest-deals-grid-item-dealprice-old {
		font-size: 13px;
	}
}

.latest-deals-grid-item-dealprice-new {
	color: #555;
	font-size: 14px;
}

@media screen and (min-width: 1024px) {
	.latest-deals-grid-item-dealprice-new {
		font-size: 16px;
	}
}

/* Main-footer */

.main-footer {
	margin-top: 60px;
	background-color: turquoise;
}

@media screen and (min-width: 1024px) {
	.main-footer {
		margin-top: 85px;
	}
}

/* Declaration order 

	Positioning
	Box model
	Typographic
	Visual
	Misc

		*Positioning*
		
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
	
		*Box-model*

		display: block;
		float: right;
		width: 100px;
		height: 100px;
	
		*Typography*

		font: normal 13px "Helvetica Neue", sans-serif;
		line-height: 1.5;
		color: #333;
		text-align: center;
	
		*Visual*

		background-color: #f5f5f5;
		border: 1px solid #e5e5e5;
		border-radius: 3px;
	
		*Misc*
		
		opacity: 1;

*/
