html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Navbar */

.navbar {
	background-color: yellow;
}

/* Cover */

.cover {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	background-color: red;
}

@media screen and (min-width: 768px) {
	.cover {
		grid-template-columns: 2fr 1fr;
	}

	.cover-item-big {
		grid-row: 1 / -1;
	}
}

/* Latest-news */

.latest-news {
	display: grid;
	grid-template-columns: 1fr;
	background-color: grey;
}

@media screen and (min-width: 768px) {
	.latest-news {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.latest-news {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* Latest-funding */
.latest-funding {
	display: grid;
	grid-template-columns: 1fr;
	background-color: orange;
}

.latest-funding-item-last {
	display: none;
}

@media screen and (min-width: 768px) {
	.latest-funding {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.latest-funding {
		grid-template-columns: repeat(4, 1fr);
	}

	.latest-funding-item-last {
		display: block;
	}
}

/* News-categories */

.news-categories {
	display: grid;
	grid-template-columns: 1fr;
	background-color: lightskyblue;
}

@media screen and (min-width: 768px) {
	.news-categories {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.news-categories {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Latest-deals */
.latest-deals {
	display: grid;
	grid-template-columns: 1fr;
	background-color: olivedrab;
}

@media screen and (min-width: 768px) {
	.latest-deals {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.latest-deals {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* Main-footer */
.main-footer {
	background-color: turquoise;
}

/* Declaration order 

	Positioning
	Box model
	Typographic
	Visual
	Misc

		*Positioning*
		
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 100;
	
		*Box-model*

		display: block;
		float: right;
		width: 100px;
		height: 100px;
	
		*Typography*

		font: normal 13px "Helvetica Neue", sans-serif;
		line-height: 1.5;
		color: #333;
		text-align: center;
	
		*Visual*

		background-color: #f5f5f5;
		border: 1px solid #e5e5e5;
		border-radius: 3px;
	
		*Misc*
		
		opacity: 1;

*/



